# Environment variables
.env

# Python
__pycache__/
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/

# Audio files
*.wav

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db